Config.json
CMakeFiles/
.cproject
.project
.idea/
.vscode
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
cmake_install.cmake
*/cmake_install.cmake
*/*/cmake_install.cmake
*/*/*/cmake_install.cmake
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/Thunder*Config.cmake
*/*/Thunder*ConfigVersion.cmake
*/*/CompileSettingsDebugConfig.cmake
*/*/CompileSettingsDebugConfigVersion.cmake
*/*/*/Thunder*Config.cmake
*/*/*/Thunder*ConfigVersion.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
clion-environment/
/clion-environment/ThunderPlugins/RemoteControl/RemoteControl.json
/clion-environment/ThunderPlugins/Commander/Commander.json
/clion-environment/ThunderPlugins/DeviceInfo/DeviceInfo.json
/clion-environment/ThunderPlugins/LocationSync/LocationSync.json
/clion-environment/ThunderPlugins/Monitor/Monitor.json
/clion-environment/ThunderPlugins/TimeSync/TimeSync.json
/clion-environment/ThunderPlugins/TraceControl/Tracing.json
/clion-environment/ThunderPlugins/WebProxy/WebProxy.json
/clion-environment/ThunderPlugins/WebServer/WebServer.json
/clion-environment/ThunderPlugins/WebShell/WebShell.json
workspace/
/.vs
/artifacts/Debug
*.user
/artifacts/Release
*.pyc
Source/Thunder/Thunder 
Source/Thunder/Thunder-1.0.0
Source/ThunderPlugin/ThunderPlugin
Source/ThunderPlugin/ThunderPlugin-1.0.0
Source/Thunder/scripts/wpeframework 
*/*/generated/
site/
