CMakeFiles/
.cproject
.project
.idea/
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
*/cmake_install.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
clion-environment/
Source/Config.json
/clion-environment/WPEFrameworkPlugins/RemoteControl/RemoteControl.json
/clion-environment/WPEFrameworkPlugins/Commander/Commander.json
/clion-environment/WPEFrameworkPlugins/DeviceInfo/DeviceInfo.json
/clion-environment/WPEFrameworkPlugins/LocationSync/LocationSync.json
/clion-environment/WPEFrameworkPlugins/Monitor/Monitor.json
/clion-environment/WPEFrameworkPlugins/TimeSync/TimeSync.json
/clion-environment/WPEFrameworkPlugins/TraceControl/Tracing.json
/clion-environment/WPEFrameworkPlugins/WebProxy/WebProxy.json
/clion-environment/WPEFrameworkPlugins/WebServer/WebServer.json
/clion-environment/WPEFrameworkPlugins/WebShell/WebShell.json
workspace/