name: Documentation Required Checks

on:
  push:
    #branches: ["master"]
    #paths:
    #  - '!**'
    #  - 'doc/**'
    #  - 'docs/**'
    #  - 'ReleaseNotes/**'
  pull_request:
    branches: ["master"]
    paths:
      - '!**'
      - 'doc/**'
      - 'docs/**'
      - 'ReleaseNotes/**'

jobs:
  Thunder:
    uses: VeithMetro/Thunder/.github/workflows/Docs build template.yml@development/actions-docs
